:root {
  --main-text-color: #757575;
  --main-title-text-color: #212121;
  --accent-text-color: #2196f3;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --main-background-color: #ffffff;
  --button-hover: #188ce8;
  --header-logo-color: #000000;
  --button-background: #f5f4fa;
  --header-border: #ececec;
  --icon-color: #afb1b8;
  --background-card-color: rgba(33, 150, 243, 0.9);
  --time-animation: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --subscription-input-color: rgba(255, 255, 255, 0.3);
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
section + section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Стили хедера */
header {
  border-bottom: 1px solid var(--header-border);
}
.header {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header > .logo {
  margin-right: 93px;
}
.header-logo {
  color: var(--header-logo-color);
}
.main-nav,
.nav-address {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-address {
  margin-left: auto;
}
.main-nav li,
.nav-address li {
  margin-right: 50px;
}
.main-nav li:last-child,
.nav-address li:last-child {
  margin-right: 0;
}
.main-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav .activity {
  color: var(--accent-text-color);
}
.activity {
  position: relative;
}
.activity::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;

  background-color: var(--accent-text-color);
}
.main-nav a:hover,
.main-nav a:focus,
.nav-address a:focus,
.nav-address a:hover,
.footer-address a:focus,
.footer-address a:hover {
  color: var(--accent-text-color);
}
.main-nav a,
.nav-address a,
.footer-address a {
  transition: color var(--time-animation) var(--time-function);
}
.nav-address-icon {
  margin-right: 10px;

  fill: currentColor;

  transition: fill var(--time-animation) var(--time-function);
}
.nav-address-icon:hover,
.nav-address-icon:focus {
  fill: var(--accent-text-color);
}
.nav-address a {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Стили Студии */

.hero {
  text-align: center;
  background-color: var(--hero-background-color);
  color: var(--additional-text-color);
}
.background {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Bg-image-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero h1 {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order {
  height: 50px;
  padding: 10px 32px;

  border: 1px solid var(--accent-text-color);
  border-radius: 4px;

  cursor: pointer;

  color: var(--additional-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000026;

  transition: background-color var(--time-animation) var(--time-function),
    border-color var(--time-animation) var(--time-function);
}
.order:hover,
.order:focus {
  border-color: transparent;
  background-color: var(--button-hover);
}
.section .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-title-text-color);
}
.hide {
  /* Удаляем элемент из потока документа */
  position: absolute;
  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;
  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;
  /* Скрываем вылезающий за границы контент */
  overflow: hidden;
  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;
  padding: 0;
  /* Вырезаем ту часть контента, которая должна отображаться. */
  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);
  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}
.feature-list {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.feature-icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  justify-content: center;
  align-items: center;

  background-color: var(--button-background);
}
.feature-list-item,
.team-list-item {
  flex-basis: calc((100% -90px) / 4);
  margin-right: 30px;
}
.feature-list-item:last-child,
.team-list-item:last-child,
.title-list:last-child {
  margin-right: 0;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}
.team {
  background-color: var(--button-background);
}
.team-list-item {
  background-color: var(--main-background-color);
}
.section-works {
  padding-top: 0;
}
.title.works {
  margin-bottom: 50px;

  text-align: center;

  font-size: 36px;
  line-height: 1.17;
}
.team-member {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team h3 {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team p {
  margin-top: 0;
  margin-bottom: 16px;

  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}
.list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.title-list img {
  display: block;
}
.title-list {
  position: relative;

  flex-basis: calc((100% -60px) / 3);
  margin-right: 30px;
}
.desckription {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;


  width: 100%;
  height: 70px;

  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--additional-text-color);
}
.social-icon {
  display: flex;
  padding: 0;

  margin-bottom: 0;
  margin-top: 0;

  justify-content: center;
}
.social-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  transition: background-color var(--time-animation) var(--time-function);
}
.social-icon li + li {
  margin-left: 10px;
}
.social-icon-list {
  fill: var(--icon-color);

  transition: fill var(--time-animation) var(--time-function);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-text-color);
}
.social-icon-link:hover .social-icon-list,
.social-icon-link:focus .social-icon-list {
  fill: var(--additional-text-color);
}
.clients {
  justify-content: center;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  justify-content: center;
  align-items: center;

  transition: border-color var(--time-animation) var(--time-function),
    box-shadow var(--time-animation) var(--time-function);
}
.clients li + li {
  margin-left: 30px;
}
.client-list {
  display: flex;

  justify-content: center;

  fill: var(--icon-color);

  transition: fill var(--time-animation) var(--time-function);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.client-link:hover .client-list,
.client-link:focus .client-list {
  fill: var(--accent-text-color);
}

/* Стили футера */
footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-background-color);
}
.footer-logo {
  color: var(--additional-text-color);
}
.address {
  margin-top: 20px;
  margin-bottom: 0;

  color: var(--additional-text-color);
  font-style: normal;
  line-height: 1.71;
}
.footer-address a {
  color: var(--adress-text-color);
  font-style: normal;
  line-height: 1.71;
}
.footer-address li {
  margin-top: 9px;
}
.footer-address {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.footer {
  display: flex;
}
.contacts {
  margin-right: 70px;
}
.invitation h2,
.subscription h2  {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color);
}
.invitation-list {
  margin-right: 10px;
}
.invitation .list li:last-child {
  margin-right: 0;
}
.invitation-icon {
  background-color: rgba(255, 255, 255, 0.1);
}
.invitation-icon .social-icon-list {
  fill: var(--additional-text-color);
}
.subscription {
  margin-left: 73px;
}
.subscription-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15)); */

.subscription-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid var(--subscription-input-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  color: var(--adress-text-color);
  outline: none;

}
.icon-send {
  margin-left: 10px;
  fill: var(--additional-text-color);
}


/* Стили Портфолио */
.section.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
.examples-button {
  margin-bottom: 50px;

  justify-content: center;
}
.examples-list {
  margin-right: 8px;
}
.examples-list:last-child {
  margin-right: 0;
}
.button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--main-title-text-color);
  background-color: var(--button-background);

  transition: color var(--time-animation) var(--time-function),
    background-color var(--time-animation) var(--time-function),
    box-shadow var(--time-animation) var(--time-function);
}
.button:focus,
.button:hover {
  color: var(--additional-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio {
  flex-wrap: wrap;
}
.portfolio-list {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.examples .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.border-box p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
}
.card {
  position: relative;
  overflow: hidden;
}
.portfolio-list img {
  display: block;
}
.portfolio-list-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  background-color: var(--background-card-color);
  font-size: 18px;
  line-height: 1.56;
  color: var(--additional-text-color);
  
  transform: translateY(100%);

  transition: transform var(--time-animation) var(--time-function);

}
.portfolio-list-description p{
  margin: 0;
}
.border-box {
  display: block;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}
.portfolio-list-box {
  display: block;
  /* border: 1px solid #EEEEEE; */
  max-width: 370px;

  transition: border-top var(--time-animation) var(--time-function),
    box-shadow var(--time-animation) var(--time-function);
}
.portfolio-list-box:hover,
.portfolio-list-box:focus {
  border-top: #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-box:hover .portfolio-list-description,
.portfolio-list-box:focus .portfolio-list-description {
  transform: translateY(0);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--time-animation) var(--time-function);
  
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;

}
.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--additional-text-color);
  font-size: 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--time-animation) var(--time-function);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;

  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-background-color);

}
.button-close:hover .icon-close,
.button-close:focus .icon-close {
  fill: var(--accent-text-color);
}
.icon-close {
  fill: var(--header-logo-color);
}
.form-modal {
  margin: 40px;
}
.form-modal h2 {
  margin: 0 0 12px 0;
  font-size: 20px;
  color: var(--main-title-text-color);

}
.form-box {
  position: relative;
}
.svg-modal {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--header-logo-colo);
}
.label {
  display: block;
}
.input-date {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 15px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color);
}
.input-date:focus {
  border-color: var(--accent-text-color);
}
.input-date:focus + .svg-modal{
  fill: var(--accent-text-color);
}

.label textarea {
  height: 120px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.approval-box {
   /* Удаляем элемент из потока документа */
   position: absolute;
   /* Временное решение для неверно произносимого, размазанного текста */
   white-space: nowrap;
   /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
   width: 1px;
   height: 1px;
   /* Скрываем вылезающий за границы контент */
   overflow: hidden;
   /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
   border: 0;
   padding: 0;
   /* Вырезаем ту часть контента, которая должна отображаться. */
   /* Устаревшее свойство clip для старых браузеров */
   clip: rect(0 0 0 0);
   /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
   clip-path: inset(50%);
   /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
   margin: -1px;
}

.custum-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}
.approval-box:checked + .custum-checkbox {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-text-color);
}
.form-checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}
.contract {
  color: var(--accent-text-color);
  text-decoration: underline;
}
.order.form-button{
  display: block;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}